
/*--------------------------------------------------------------------------*/
/* Comparison Grid */

td.comprow { /* leftmost column in server comparisons, analogous to th */
	text-align: right;
	padding: 1px 5px 1px 1px;
	border: none;
}

input, select { /* cycle gadgets used to select servers on compare page */
	background: #fff;
	color: #333;
    font: 11px normal helvetica, sans-serif;
}
