/* classes for the IP listing page */

.resolved { /* addresses which resolve and ping */
	background: #acce9a
}

.onlylive {
	/* addresses which are in the live audits, but not the scan results */
	background: #c48cd0;
}

.onlyping { /* addresses which ping, but aren't in the DNS */
	background: #e9c243;	/* amber colour from general_classes.php */
}

.reserved { /* addresses in the reserved file */
	background: #df8439;	/* orange colour from general_classes.php */
}

.empty {	/* free addresses */
	color: #aaa;
}
