/*--------------------------------------------------------------------------*/
/* classes for individual server views */

.ssall a { /* global zone/server hostnames */
	font-weight: normal;
	color: black;
}

.ssall td {
	text-align: center;
	vertical-align: top;
}


td.ozhn { /* local zone hostnames */
}
